<div class="container">
    <div class="jumbotron">
        <h2> All Articles </h2>

        <form action="/scrape" method="GET">
            <button class="btn-primary" type="submit" id="scrape">Scrape</button>
        </form> 
        <a href="/saved" class="btn btn-info" role="button">Saved Articles</a>
    </div>
    <div class="row">
        <div id="wrapper">
            <div id="articles">
                {{#each stories}}
                    <p data-id='"+{{_id}}+"'> 
                        {{title}}
                        <br />
                        {{link}}
                    </p>
                    <div class="updatebtn">
                        
                        <button class="btn btn-danger savedchange" saved={{saved}} data-id={{_id}}>
                            {{#unless this.saved}}
                            Save Article 
                            {{/unless}}
                            {{#if this.saved}}
                            Remove Article
                            {{/if}}
                        </button>                      
                      
                    </div>
                {{/each}}
            </div>
            <div id="notes">
            
            </div>

        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="app.js"></script>
    
</div>